<template>
  <div class="tourney-create">
    <div class="pt-5 mt-5 row">
      <div class="col">
        <h1 class="text-center display-1">Create a new Tourney</h1>
      </div>
    </div>

    <div class="mt-2 row justify-content-center">
      <div
        class="px-4 pt-2 pb-3 mx-1 rounded input-block col-4 d-flex flex-column justify-content-center"
      >
        <h1 class="mt-3 text-center display-4">Tourney Info</h1>
        <label class="mt-3 text-center font-weight-bold">Tourney Name</label>
        <input
          type="text"
          class="mx-auto mb-4 form-control w-75"
          placeholder="Enter tournament name"
          v-model.trim="tourneyName"
        />
        <label class="mt-3 text-center font-weight-bold">Tourney Date</label>
        <div class="flex-row mb-2 d-flex">
          <select v-model="tourneyDay" class="mx-1 mt-1 custom-select w-75">
            <option disabled>Day</option>
            <option v-for="i in 31" :key="i" :value="i">{{i}}</option>
          </select>
          <select v-model="tourneyMonth" class="mx-1 mt-1 custom-select w-75">
            <option disabled>Month</option>
            <option v-for="i in 12" :key="i" :value="i - 1">{{monthMap[i - 1]}}</option>
          </select>
          <select v-model="tourneyYear" class="mx-1 mt-1 custom-select w-75">
            <option disabled>Year</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </div>
      </div>
      <div class="pt-2 pb-3 mx-1 rounded input-block col-4 d-flex flex-column">
        <h1 class="mt-3 text-center display-4">Tourney Settings</h1>
        <div class="row">
          <div class="mt-1 col">
            <div class="form-group form-check">
              <input
                type="checkbox"
                v-model="pointsSystem"
                class="form-check-input"
                id="pointsSystem"
              />
              <label class="form-check-label" for="pointsSystem">Use points system</label>
            </div>
            <transition name="fade">
              <div v-if="pointsSystem" class="flex-row mb-1 d-flex">
                <div class="form-group">
                  <label for="koInput">Pts for KO</label>
                  <input
                    type="text"
                    v-model.number="pointsKo"
                    class="form-control w-75"
                    id="koInput"
                    placeholder="KO"
                  />
                </div>
                <div class="form-group">
                  <label for="winInput">Pts for Win</label>
                  <input
                    type="text"
                    v-model.number="pointsWin"
                    class="form-control w-75"
                    id="winInput"
                    placeholder="Win"
                  />
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <button @click="addTourney" class="px-3 my-5 btn btn-primary">Create Tourney</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <ContenderTable class="mb-5" :initialContenders="Object.entries(contenders)" />
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import db from '@/firebase'

import { monthMap } from '@/data/common/data'
import ContenderTable from '@/components/tourneys/ContenderTable'

const tourneysRef = db.ref('tourneys')

export default {
  name: 'TourneyCreate',
  components: {
    ContenderTable
  },
  data() {
    const today = new Date()
    return {
      bestOf: 1,
      contenders: {},
      tourneyDay: today.getDate(),
      tourneyMonth: today.getMonth(),
      tourneyYear: today.getFullYear(),
      monthMap,
      pointsSystem: false,
      pointsKo: 2,
      pointsWin: 1,
      tourneyName: ''
    }
  },
  computed: {
    tourneyDate() {
      return this.tourneyDay + ' ' + this.tourneyMonth + ' ' + this.tourneyYear
    }
  },
  methods: {
    addTourney() {
      if (this.tourneyName) {
        const newTourneyRef = tourneysRef.push()
        newTourneyRef.set({
          hostId: firebase.auth().currentUser.uid,
          bestOf: this.bestOf,
          contenders: this.contenders,
          date: this.tourneyDate,
          name: this.tourneyName,
          pointsSystem: this.pointsSystem,
          pointsKo: this.pointsKo,
          pointsWin: this.pointsWin
        })
      }
    },
    addContender() {}
  }
}
</script>

<style scoped>
.tourney-create {
  background-color: #d8d8d8;
}

.input-block {
  background-color: #cccccc;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
