<template>
  <div class="home row my-5 py-5 justify-content-center">
    <div class="col d-flex flex-column">
      <h1 class="display-1 text-center">Tournament List</h1>
      <h1
        v-for="tourney in tourneys"
        :key="tourney['.key']"
        class="display-4 text-center"
      >{{tourney.name}}</h1>
    </div>
  </div>
</template>

<script>
// import firebase from 'firebase/app'
// import 'firebase/database'
import db from '@/firebase'

const todosRef = db.ref('todos')
const tourneysRef = db.ref('tourneys')

export default {
  name: 'Tourneys',
  data() {
    return {
      newTodoText: '',
      newTourneyName: ''
    }
  },
  firebase: {
    todos: todosRef,
    tourneys: tourneysRef
  }
}
</script>
