<template>
  <div class="tourney-overview" v-if="loaded">
    <div class="row mt-5 pt-5">
      <div class="col">
        <h1 class="display-1 text-center">{{tourney.name}}</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-8 mb-5">
        <BracketRoundRobin :tourney="tourney" />
      </div>
    </div>
  </div>
</template>

<script>
import db from '@/firebase'

import BracketRoundRobin from '@/components/tourneys/BracketRoundRobin'

export default {
  name: 'TourneyOverview',
  components: {
    BracketRoundRobin
  },
  data() {
    return {
      loaded: false,
      tid: this.$route.params.tid,
      tourney: this.tourney
    }
  },
  firebase() {
    return {
      tourney: {
        source: db.ref('tourneys').child(this.tid),
        asObject: true,
        readyCallback: () => this.loaded = true
      }
    }
  }
}
</script>

<style scoped>
.tourney-overview {
  background-color: #d8d8d8;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>