<template>
  <div class="tourney-admin">
    <h1 class="text-center display-4">Add Contender</h1>
    <p class="text-center">Monster Name</p>
    <input
      type="text"
      class="mx-auto form-control w-50"
      placeholder="Enter monster name"
      v-model.trim="monsterName"
    />
    <p class="mt-3 text-center">Select Breed</p>
    <div class="d-flex justify-content-center">
      <BreedSelector class="mx-1" :width="40" :maxLen="38" v-model="monsterMainBreed" />
      <BreedSelector class="mx-1" :width="40" v-model="monsterSubBreed" />
    </div>
    <button class="mx-auto mt-2 btn btn-primary w-25" @click="addContender">Add Contender</button>
  </div>
</template>

<script>
export default {
  name: 'TourneyAdmin',
  data() {
    return {
      monsterName: '',
      monsterMainBreed: 'Ape',
      monsterSubBreed: 'Ape'
    }
  },
  methods: {
    addContender() {
      if (this.monsterName.length > 0 && this.monsterName.length <= 12) {
        this.contenders.push({
          id: this.contenders.length + 1,
          name: this.monsterName,
          mainBreed: this.monsterMainBreed,
          subBreed: this.monsterSubBreed
        })
      }
    }
  }
}
</script>