<template>
  <div :style="{'background-position' : x + 'px -' + y + 'px'}"></div>
</template>

<script>
const offsets = require('./data/breeds.json').offsets

export default {
  name: 'BreedThumbnail',
  props: {
    mainBreed: String,
    subBreed: String
  },
  computed: {
    x() {
      return -56 * offsets.indexOf(this.subBreed) - 2
    },
    y() {
      return 40 * offsets.indexOf(this.mainBreed) + 2
    }
  }
}
</script>

<style lang="stylus" scoped>
div
  background-image url('../../assets/icon-map.png')
  width 54px
  height 38px
  display inline-flex
  border-radius 5px
  margin 1px 4px 1px 4px
</style>