<template>
  <form>
    <p class="text-center">{{ breedType }}</p>
    <div class="relative w-32">
      <select
        v-model="localSelected"
        @input="selectBreed"
        class="w-full p-1 border border-gray-300 rounded appearance-none hover:border-gray-500 focus:border-indigo-500"
      >
        <option disabled value>Select a breed</option>
        <option
          v-for="breed in filteredBreedList"
          :key="breed"
          :value="breed"
        >{{ breed | capitalize }}</option>
      </select>
      <div
        class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none"
      >
        <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </div>
    </div>
  </form>
</template>

<script>
import { SET_BREED } from '@/store/mutation-types'
import { mapState, mapMutations } from 'vuex'

const validSubs = require('./data/validSubs.json')

export default {
  name: 'BreedSelector',
  props: {
    monster: String
  },
  data() {
    return {
      localSelected: null
    }
  },
  computed: {
    breedType() {
      return this.monster.endsWith('Main') ? 'Main' : 'Sub'
    },
    filteredBreedList() {
      const { breedList, breedType, monster } = this

      if (breedType === 'Main') return breedList // Allow a choice of any main breed

      // If we reach here this component instance must be for a sub-breed
      const mainBreed = this.$store.state.combination.breeds[
        monster.replace('Sub', 'Main')
      ]
      return breedList.filter(breed => validSubs[mainBreed].includes(breed))
    },
    isMainBreed() {
      return this.monster.endsWith('Main')
    },
    ...mapState({
      breedList: state => state.combination.breedList,
      selected(state) {
        return state.combination.breeds[this.monster]
      }
    })
  },
  watch: {
    /* This is useless code really but mapState doesn't provide the option
     * for computed setters so we're stuck with it for the time being
     */
    selected: {
      handler(newValue) {
        this.localSelected = newValue
      },
      immediate: true
    }
  },
  methods: {
    selectBreed({ target: { value: breed } }) {
      const { monster } = this

      this[SET_BREED]({
        breedToUpdate: monster,
        breedName: breed
      })
    },
    ...mapMutations([SET_BREED])
  }
}
</script>

<style lang="stylus" scoped></style>
