<template>
  <div>
    <h1 class="text-4xl text-center">Options</h1>

    <form>
      <p class="text-xl">Ordering method</p>

      <input
        v-model="ordering"
        @input="updateBreedList"
        type="radio"
        id="alphabetical"
        value="alphabetical"
        class="mr-2 border border-indigo-500"
      />
      <label for="alphabetical" class="text-sm">Alphabetical</label>

      <br />

      <input
        v-model="ordering"
        @input="updateBreedList"
        type="radio"
        id="ingame"
        value="ingame"
        class="mr-2"
      />
      <label for="ingame" class="text-sm">In-game</label>

      <br />

      <input type="checkbox" @input="updateHardMode" id="hardmode" class="mt-5 mr-2" />
      <label for="hardmode" class="text-sm">Hard Mode</label>
    </form>
  </div>
</template>

<script>
import { breeds, offsets } from '@/components/common/data/breeds.json'
import { SET_BREED_LIST, SET_HARD_MODE } from '@/store/mutation-types'
import { mapMutations } from 'vuex'

export default {
  name: 'CombinationCalculatorOptions',
  data() {
    return {
      hardMode: false,
      ordering: 'alphabetical'
    }
  },
  methods: {
    updateBreedList({ target: { value: ordering } }) {
      const payload = ordering === 'alphabetical' ? breeds : offsets
      this[SET_BREED_LIST](payload)
    },
    updateHardMode() {
      this[SET_HARD_MODE]()
    },
    ...mapMutations([SET_BREED_LIST, SET_HARD_MODE])
  }
}
</script>
