<template>
  <div>
    <h1 class="text-4xl text-center">Parent {{ num }}</h1>

    <div class="flex justify-center mt-4">
      <BreedSelector :monster="`parent${this.num}Main`" />
      <BreedSelector :monster="`parent${this.num}Sub`" />
    </div>

    <div class="grid grid-cols-3 gap-1 mt-2 xl:grid-cols-6">
      <div v-for="stat of Object.keys(stats)" :key="stat" class="flex flex-col justify-center p-1">
        <p class="mb-1 text-center">
          {{ stat | capitalize}}
          <span class="text-xs">[{{gains[stat]}}]</span>
        </p>
        <input
          v-model.number="stats[stat]"
          class="px-3 py-1 border border-gray-300 rounded hover:border-gray-500 focus:border-indigo-500 border-transition"
        />
        <input
          disabled
          :value="correctedStats[stat]"
          class="px-3 py-1 mb-2 border border-gray-300 rounded shadow-md"
        />
      </div>
    </div>

    <h1 class="mt-4 text-3xl text-center">Current Stat Order</h1>
    <p class="mt-1 text-xl text-center">
      <span v-for="stat of highestStats" :key="stat">
        <span :class="statClass(stat)">{{ stat | capitalize }}</span>
        {{ ' / ' }}
      </span>
      <span :class="statClass(lowestStat)">{{ lowestStat | capitalize }}</span>
    </p>
  </div>
</template>

<script>
import BreedSelector from './BreedSelector'
import { mapState } from 'vuex'
import { monster } from './mixins/monster'

export default {
  name: 'MonsterParent',
  components: {
    BreedSelector
  },
  mixins: [monster],
  props: {
    num: Number
  },
  data() {
    return {
      stats: {
        lif: 999,
        pow: 999,
        int: 999,
        ski: 999,
        spd: 999,
        def: 999
      }
    }
  },
  computed: {
    breeds() {
      return this.$store.getters[`parent${this.num}`]
    },
    highestStats() {
      const { statOrder } = this
      return Object.keys(statOrder).slice(0, Object.keys(statOrder).length - 1)
    },
    lowestStat() {
      return Object.keys(this.statOrder).slice(-1)[0]
    },
    statOrder() {
      return this.getStatOrder(this.correctedStats)
    },
    ...mapState({
      desiredOrder: state => state.combination.desiredOrder
    })
  },
  methods: {
    statClass(stat) {
      const correctOrder =
        Object.keys(this.statOrder).indexOf(stat) ===
        this.desiredOrder.indexOf(stat)
      return {
        'text-green-500': correctOrder,
        'text-red-500': !correctOrder
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.border-transition
  transition border-color 0.5s
</style>
