<template>
  <div>
    <h1 class="text-4xl text-center">Child</h1>

    <div class="flex justify-center mt-4">
      <BreedSelector monster="childMain" />
      <BreedSelector monster="childSub" />
    </div>

    <h1 class="mt-4 text-2xl text-center">Stat Order</h1>
    <p class="mt-2 text-lg text-center">{{ Object.keys(statOrder).join(' / ') | capitalize }}⁢</p>

    <h1 class="mt-2 text-2xl text-center">Stat Gains</h1>
    <p class="mt-2 text-lg text-center">{{ Object.values(gains).join(' / ') }}⁢</p>

    <h1 class="mt-2 text-2xl text-center">Base Stats</h1>
    <p class="mt-2 text-lg text-center">{{ Object.values(baseStats).join(' / ') | capitalize }}⁢</p>
  </div>
</template>

<script>
import BreedSelector from './BreedSelector'
import { SET_CHILD_ORDER } from '@/store/mutation-types'
import { monster } from './mixins/monster'
import { mapState } from 'vuex'

export default {
  name: 'MonsterChild',
  components: {
    BreedSelector
  },
  mixins: [monster],
  computed: {
    breeds() {
      return this.$store.getters.child
    },
    statOrder() {
      return this.getStatOrder(this.gains)
    },
    ...mapState({
      hardMode: state => state.combination.hardMode
    })
  },
  watch: {
    statOrder: {
      handler(newStatOrder) {
        this.$store.commit(SET_CHILD_ORDER, Object.keys(newStatOrder))
      },
      immediate: true
    }
  }
}
</script>

<style lang="stylus" scoped></style>
