<template>
  <div class="bracket-round-robin">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <TableHeadRoundRobin :contenderNames="contenderNames" />
          <tbody>
            <tr v-for="contenderY in contendersSorted" :key="contenderY[1].id">
              <th scope="row">{{contenderY[1].id}}</th>
              <td>
                <ContenderThumbnail
                  :mainBreed="contenderY[1].mainBreed"
                  :subBreed="contenderY[1].subBreed"
                />
              </td>
              <td>{{contenderY[0]}}</td>
              <td v-for="contenderX in contendersSorted" :key="contenderX[1].id">
                <div v-if="contenderX[1].id > contenderY[1].id && !editing">O</div>
                <span v-else-if="contenderX[1].id === contenderY[1].id">/</span>
                <span v-else>X</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ContenderThumbnail from '@/components/tourneys/ContenderThumbnail'
import TableHeadRoundRobin from '@/components/tourneys/TableHeadRoundRobin'
export default {
  name: 'BracketRoundRobin',
  components: {
    ContenderThumbnail,
    TableHeadRoundRobin
  },
  props: {
    editing: Boolean,
    tourney: Object
  },
  data() {
    return {
      matchList: [[]]
    }
  },
  computed: {
    contenderNames() {
      return Object.values(this.contendersSorted)
    },
    // copy contender array and sort by ID descending
    contendersSorted() {
      var sorted = []
      Object.entries(this.tourney.contenders).forEach(e => sorted.push(e))
      return sorted.sort((a, b) => a[1].id > b[1].id ? 1 : a[1].id === b[1].id ? 0 : -1)
    }
  },
  mounted() {
    // create an empty n * n array
    this.matchList = Array.from(Array(Object.keys(this.tourney.contenders).length), () => [])
  }
}
</script>

<style scoped>
</style>