<template>
  <div :style="{width: width + '%'}">
    <select :value="value" @input="$emit('input', $event.target.value)" class="custom-select">
      <option disabled value>Select a breed</option>
      <option v-for="breed in breedList.slice(0, maxLen)" :key="breed">{{breed}}</option>
    </select>
  </div>
</template>

<script>
import { breedList } from '@/data/tourneys/data.js'

export default {
  name: 'BreedSelector',
  props: {
    maxLen: {
      type: Number,
      default: breedList.length
    },
    value: {
      type: String
    },
    width: {
      type: Number
    }
  },
  data() {
    return {
      breedList: breedList
    }
  }
}
</script>

<style scoped>
</style>