<template>
  <tr>
    <th class="align-middle" scope="row">{{contender[1].id}}</th>
    <td align="center" class="align-middle">
      <ContenderThumbnail :mainBreed="contender[1].mainBreed" :subBreed="contender[1].subBreed"/>
    </td>
    <td class="align-middle">{{contender[0]}}</td>
    <td class="align-middle">{{contender[1].mainBreed}}</td>
    <td class="align-middle">{{contender[1].subBreed}}</td>
    <td class="text-center">
      <button
        v-if="contender[1].id !== 1"
        @click="$emit('move-contender', contender[1].id, -1)"
        class="btn btn-sm border border-dark"
      >↑</button>
      <button
        v-if="!isLast"
        @click="$emit('move-contender', contender[1].id, 1)"
        class="btn btn-sm border border-dark"
      >↓</button>
      <button
        @click="$emit('remove-contender', contender[1])"
        class="btn btn-danger btn-sm border border-dark"
      >X</button>
    </td>
  </tr>
</template>

<script>
import ContenderThumbnail from '@/components/tourneys/ContenderThumbnail'

export default {
  name: 'ContenderRow',
  components: {
    ContenderThumbnail
  },
  props: {
    contender: {
      type: Array,
      required: true
    },
    isLast: {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style scoped>
</style>