<template>
  <table class="table table-striped table-sm text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Icon</th>
        <th scope="col">Monster</th>
        <th scope="col">Main</th>
        <th scope="col">Sub</th>
        <th scope="col">Move/Remove</th>
      </tr>
    </thead>
    <tbody>
      <ContenderRow
        @move-contender="moveContender"
        @remove-contender="removeContender"
        v-for="contender in contendersSorted"
        :key="contender[1].id"
        :contender="contender"
        :isLast="contender[1].id === contenders.length"
      />
      <ContenderRowAdd
        @add-contender="addContender"
        @update-contender="updateContender"
        :id="contenders.length + 1"
        :initialName="newName"
        class="mt-5"
      />
    </tbody>
  </table>
</template>

<script>
import ContenderRow from '@/components/tourneys/ContenderRow'
import ContenderRowAdd from '@/components/tourneys/ContenderRowAdd'

export default {
  name: 'ContenderTable',
  components: {
    ContenderRow,
    ContenderRowAdd
  },
  props: {
    initialContenders: Array
  },
  data() {
    return {
      contenders: this.initialContenders,
      newMainBreed: '',
      newName: '',
      newSubBreed: ''
    }
  },
  computed: {
    contendersSorted() {
      var sorted = []

      // for (let contender of this.contenders) {
      //   sorted.push(contender)
      // }
      sorted.sort((a, b) => {
        a[1].id < b[1].id ? -1 : a[1].id == b[1].id ? 0 : 1
      })
      return sorted
    }
  },
  methods: {
    addContender() {
      if (this.newMainBreed && this.newName && this.newSubBreed) {
        this.contenders.push([
          this.newName,
          {
            id: this.contenders.length + 1,
            mainBreed: this.newMainBreed,
            subBreed: this.newSubBreed
          }
        ])
        this.newName = ''
      }
    },
    moveContender(id, change) {
      let c1 = this.contenders.find(function(element) {
        return element[1].id === id
      })
      let c2 = this.contenders.find(function(element) {
        return element[1].id === id + change
      })
      c1[1].id += change
      c2[1].id += 0 - change
    },
    removeContender(contender) {
      const id = contender[1].id
      const index = this.contenders.indexOf(contender)
      this.contenders.splice(index, 1)

      for (let i = id - 1; i < this.contenders.length; i++) {
        this.contenders[i].id = this.contenders[i].id - 1
      }
    },
    updateMain(newMain) {
      this.newMainBreed = newMain
    },
    updateName(newName) {
      this.newName = newName
    },
    updateContender(updateType, value) {
      switch (updateType) {
        case 'main':
          this.newMainBreed = value
          break
        case 'name':
          this.newName = value
          break
        case 'sub':
          this.newSubBreed = value
          break
      }
    },
    updateSub(newSub) {
      this.newSubBreed = newSub
    }
  }
}
</script>

<style scoped>
</style>