<template>
  <div class="contender-thumbnail" :style="{'background-position' : x + 'px -' + y + 'px'}"></div>
</template>

<script>
import { offsets } from '@/data/tourneys/data.js'

export default {
  name: 'ContenderThumbnail',
  props: {
    mainBreed: String,
    subBreed: String
  },
  computed: {
    x() {
      return -56 * offsets.indexOf(this.subBreed)
    },
    y() {
      return 40 * offsets.indexOf(this.mainBreed)
    }
  }
}
</script>

<style scoped>
.contender-thumbnail {
  background-image: url("../../assets/icon-map.png");
  width: 56px;
  height: 40px;
}
</style>