<template>
  <tr>
    <th class="align-middle">{{id}}</th>
    <td align="center" class="align-middle">
      <ContenderThumbnail :mainBreed="mainBreed" :subBreed="subBreed"/>
    </td>
    <td class="align-middle">
      <input type="text" class="form-control" placeholder="Monster Name" v-model.trim="name">
    </td>
    <td class="align-middle">
      <BreedSelector v-model="mainBreed" :maxLen="38"/>
    </td>
    <td class="align-middle">
      <BreedSelector v-model="subBreed"/>
    </td>
    <td class="align-middle">
      <button class="btn btn-success" @click="$emit('add-contender')">Add</button>
    </td>
  </tr>
</template>

<script>
import BreedSelector from '@/components/tourneys/BreedSelector'
import ContenderThumbnail from '@/components/tourneys/ContenderThumbnail'

export default {
  name: 'ContenderRowAdd',
  components: {
    BreedSelector,
    ContenderThumbnail
  },
  props: {
    id: {
      type: Number,
      required: true
    },
    initialName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      mainBreed: '',
      name: this.initialName,
      subBreed: ''
    }
  },
  watch: {
    mainBreed(newMain) {
      this.$emit('update-contender', "main", newMain)
    },
    name(newName) {
      this.$emit('update-contender', "name", newName)
    },
    subBreed(newSub) {
      this.$emit('update-contender', "sub", newSub)
    },
  }
}
</script>

<style scoped>
</style>