<template>
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Icon</th>
      <th scope="col">Monster</th>
      <th scope="col" v-for="i in contenderNames.length" :key="i">{{contenderNames[i - 1]}}</th>
    </tr>
  </thead>
</template>

<script>
export default {
  name: 'BracketRoundRobin',
  props: {
    contenderNames: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="stylus" scoped></style>
