<template>
  <div class="grid grid-cols-1 gap-1 px-8 mt-8 md:grid-cols-2">
    <CombinationCalculatorOptions :class="quadrantClasses" />
    <MonsterChild :class="quadrantClasses" />

    <MonsterParent :num="1" :class="quadrantClasses" />
    <MonsterParent :num="2" :class="quadrantClasses" />

    <p>
      For detailed information on combination, see
      <router-link to="/mr2/guide">here</router-link>.
    </p>
  </div>
</template>

<script>
import CombinationCalculatorOptions from '@/components/combination-calculator/CombinationCalculatorOptions'
import MonsterChild from '@/components/combination-calculator/MonsterChild'
import MonsterParent from '@/components/combination-calculator/MonsterParent'
import { mapState } from 'vuex'

export default {
  name: 'CombinationCalculator',
  components: {
    CombinationCalculatorOptions,
    MonsterChild,
    MonsterParent
  },
  data() {
    return {
      hardMode: false,
      ordering: 'alphabetical'
    }
  },
  computed: {
    ...mapState({
      breedList: state => state.combination.breedList,
      breeds: state => state.combination.breeds
    })
  },
  created() {
    this.quadrantClasses =
      'px-4 py-2 bg-indigo-100 rounded border border-gray-300 shadow-sm'
  },
  methods: {
    changeOrderingScheme() {
      this.ordering =
        this.ordering === 'alphabetical' ? 'ingame' : 'alphabetical'
    }
  }
}
</script>
