<template>
  <i-row>
    <i-column>
      <transition name="fade" mode="out-in">
        <i-row v-if="!started" class="_margin-y-1">
          <i-column>
            <i-row>
              <i-column>
                <h1 class="d4 _text-center">Countdown Timer</h1>
              </i-column>
            </i-row>

            <i-row center-xs class="_margin-y-1">
              <TimeInput v-model.number="hours" units="Hours" />
              <TimeInput v-model.number="minutes" :max="59" units="Minutes" />
              <TimeInput v-model.number="seconds" :max="59" units="Seconds" />
            </i-row>

            <i-row class="_margin-y-1">
              <i-column class="_display-flex">
                <i-button @click="started = true" variant="primary" class="_margin-auto">Begin!</i-button>
              </i-column>
            </i-row>
          </i-column>
        </i-row>
        <i-row v-else>
          <i-column>
            <CountdownTimer
              :deadline="Math.trunc((new Date()).getTime() / 1000) + (hours * 60 * 60) + (minutes * 60) + seconds"
            />
          </i-column>
        </i-row>
      </transition>
    </i-column>
  </i-row>
</template>

<script>
import CountdownTimer from '@/components/countdown-timer/CountdownTimer'
import TimeInput from '@/components/countdown-timer/TimeInput'

export default {
  name: 'CountdownTimerView',
  components: {
    CountdownTimer,
    TimeInput
  },
  data() {
    return {
      hours: 0,
      minutes: 0,
      seconds: 0,
      started: false
    }
  }
}
</script>

<style scoped lang="stylus">
.countdown-timer
  color #2c3e50
  background-color #d8d8d8

.fade-enter-active, .fade-leave-active
  transition opacity 0.3s ease

.fade-enter, .fade-leave-to
  opacity 0
</style>
