<template>
  <i-row center-xs>
    <i-column xs="12">
      <h1>Home</h1>
      <i-button variant="primary" @click="logout">Logout</i-button>
    </i-column>
  </i-row>
</template>

<script>
import firebase from 'firebase/app'

export default {
  name: 'Home',
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace('login')
        })
    }
  }
}
</script>
