<template>
  <i-row center-xs>
    <i-column>
      <h1 class="d1">Lazy Latin Squares</h1>
      <p class="lead">Keep hitting the shuffle button until you win</p>

      <p>Win status: ⁢{{isComplete}}</p>
      <p>Shuffles so far: ⁢{{counter}}</p>
      <i-button @click="shuffle" class="_margin-bottom-1">Shuffle</i-button>

      <transition-group name="cell" tag="div" class="latin-square" :style="{width: 25 * n + 'px'}">
        <div v-for="cell of cells" :key="cell.id" class="cell">{{ cell.number }}</div>
      </transition-group>
    </i-column>
  </i-row>
</template>

<script>
import _ from 'lodash'

const n = 9
export default {
  name: 'LazySudoku',
  data() {
    return {
      cells: Array.apply(null, { length: n ** 2 }).map((_value, index) => ({
        id: index,
        number: (index % n) + 1
      })),
      counter: 0,
      interval: null,
      n
    }
  },
  computed: {
    columnsComplete() {
      let res = true
      for (let i of _.range(n)) {
        const col = []
        for (let j of _.range(n)) {
          col.push(this.cells[j * n + i])
        }
        const seen = new Set()
        res = res && !col.some(cell => seen.size === seen.add(cell.number).size)
      }
      return res
    },
    isComplete() {
      return this.rowsComplete && this.columnsComplete
    },
    rowsComplete() {
      let res = true
      for (let i of _.range(n)) {
        const row = this.cells.slice(i * n, i * n + n)
        const seen = new Set()
        res = res && !row.some(cell => seen.size === seen.add(cell.number).size)
      }
      return res
    }
  },
  watch: {
    isComplete(newValue) {
      if (newValue) {
        clearInterval(this.interval)
      }
    }
  },
  mounted() {
    // this.interval = setInterval(() => {
    //   this.shuffle()
    // }, 1000)
  },
  destroyed() {
    clearInterval(this.interval)
  },
  methods: {
    shuffle() {
      if (!this.isComplete) {
        this.cells = _.shuffle(this.cells)
        this.counter++
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.latin-square
  display flex
  flex-wrap wrap
  justify-content center
  margin auto

.cell
  display flex
  justify-content space-around
  align-items center
  width 25px
  height 25px
  border 1px solid #aaa
  margin-right -1px
  margin-bottom -1px

.cell-move
  transition transform 1s
</style>