<template>
  <EmailPasswordForm @reset-error="errorMsg = null" button-text="Coming soon!" :submit="login">
    <template #title>Welcome!</template>

    <template #footer>
      Don't have an account? You can easily
      <router-link to="/signup" class="text-indigo-700">create one</router-link>.
    </template>

    <template #error>
      <transition name="fade">
        <div
          v-if="errorMsg"
          class="px-4 py-2 mt-8 bg-red-300 border border-l-4 border-red-600 rounded"
        >
          <p>This email address is badly formatted!</p>
        </div>
      </transition>
    </template>
  </EmailPasswordForm>
</template>

<script>
import firebase from 'firebase/app'
import EmailPasswordForm from '@/components/common/EmailPasswordForm'

export default {
  name: 'Login',
  components: {
    EmailPasswordForm
  },
  data() {
    return {
      errorMsg: false
    }
  },
  methods: {
    login(email, password) {
      firebase
        .auth()
        .signInWithEmailAndPassword(email, password)
        .then(
          () => {
            this.$router.replace('home')
          },
          err => {
            this.errorMsg = err.message
          }
        )
    }
  }
}
</script>

<style lang="stylus" scoped>
.fade-enter-active, .fade-leave-active
  transition opacity 0.5s

.fade-enter, .fade-leave-to
  opacity 0
</style>
