<template>
  <div class="grid grid-cols-1">
    <div class="flex items-center justify-center">
      <svg class="text-teal-500 rounded" :width="width" :height="width / 2">
        <g>
          <rect class="text-gray-900 fill-current" width="100%" height="100%" />
          <line class="text-gray-700 stroke-current stroke-1" x1="0" x2="100%" y1="50%" y2="50%" />
          <polyline :points="points" fill="none" class="text-indigo-500 stroke-current stroke-1" />
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'

export default {
  name: 'Music',
  data() {
    const width = 800
    const amplitude = 400
    const frequency = 30
    const segments = 1000
    const interval = width / segments

    const pointsArray = []

    for (let i = 0; i <= segments; i++) {
      const norm = 1 - i / segments

      const point = { x: 0, y: 0 }
      point.x = i * interval
      point.y = amplitude / 2

      pointsArray.push(point)

      gsap
        .to(point, 1, { y: -point.y, repeat: -1, yoyo: true })
        .progress(norm * frequency)
    }

    const points = pointsArray.map(({ x, y }) => `${x},${y}`).join(' ')
    return {
      points
    }
  },
  created() {
    this.width = 800
  }
}
</script>