<template>
  <i-row center middle-xs class="_vh-100">
    <i-column xs="10">
      <p class="lead">Just pretend I have a cool 404 page for the time being. :)</p>
    </i-column>
  </i-row>
</template>

<script>
export default {
  name: 'NotFoundView'
}
</script>