<template>
  <div class="_padding-top-5">
    <div>
      <div>
        <div class="_border">
          <pre>
            <code>
              {{msg}}
            </code>
          </pre>
        </div>
      </div>

      <div center-xs class="_margin-top-3">
        <div xs="4" class="_display-flex _justify-content-center _border">
          <i-button-group>
            <i-button variant="success">Start</i-button>
            <i-button variant="danger">Stop</i-button>
            <i-button variant="primary" @click="obfuscate">Once</i-button>
            <i-button variant="secondary">Reveal!</i-button>
          </i-button-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const replacers = '<>/░▒▓█'

export default {
  name: 'Obfuscator',
  data() {
    return {
      msg: 'How vexingly quick daft zebras jump!'
    }
  },
  methods: {
    obfuscate() {
      const { msg } = this

      this.msg = [...msg]
        .map(() => replacers[Math.floor(Math.random() * replacers.length)])
        .join('')
    }
  }
}
</script>
