<template>
  <EmailPasswordForm button-text="Coming soon!" :submit="signUp">
    <template #title>Create an Account</template>

    <template #footer>
      Already have an account? Go here to
      <router-link to="/login" class="text-indigo-700">login</router-link>.
    </template>
  </EmailPasswordForm>
</template>

<script>
import firebase from 'firebase/app'
import EmailPasswordForm from '@/components/common/EmailPasswordForm'

export default {
  name: 'SignUp',
  components: {
    EmailPasswordForm
  },
  methods: {
    signUp(email, password) {
      firebase
        .auth()
        .createUserWithEmailAndPassword(email, password)
        .then(
          () => {
            this.$router.replace('home')
          },
          err => {
            alert('Oh no! ' + err.message)
          }
        )
    }
  }
}
</script>