<template>
  <i-layout>
    <i-layout-header>
      <i-row center-xs>
        <i-column xs="4">
          <div
            class="border border-black rounded _background-yellow _margin-bottom-3 _padding-bottom-2 _padding-x-1"
          >
            <h1 class="h1">
              <i-icon icon="warning" class="_margin-right-5" />This page is a WIP
            </h1>
          </div>

          <h1 class="_text-center">Techinque Tables</h1>
          <i-select v-model="breed" size="sm" placeholder="Select a breed" class="select">
            <i-select-option
              v-for="breed in breedList"
              :key="breed"
              :value="breed"
              :label="$options.filters.capitalize(breed)"
            />
          </i-select>
        </i-column>
      </i-row>
    </i-layout-header>

    <i-layout vertical>
      <i-layout-aside class="aside-left _margin-x-3">
        <i-row>
          <i-column>
            <h5>Control Panel</h5>
          </i-column>
        </i-row>
      </i-layout-aside>

      <i-layout-content class="content">
        <TechTableMainView v-bind="{ breed }" />
      </i-layout-content>

      <i-layout-aside class="aside-right _margin-x-3">
        <i-row>
          <i-column>
            <h5>Detailed Tech Info</h5>
          </i-column>
        </i-row>
      </i-layout-aside>
    </i-layout>
  </i-layout>
</template>

<script>
import TechTableMainView from '@/components/tech-tables/TechTableMainView'
import { breeds as breedList } from '@/components/common/data/breeds.json'

export default {
  name: 'TechTables',
  components: {
    TechTableMainView
  },
  data() {
    return {
      breed: 'ape',
      breedList
    }
  }
}
</script>

<style lang="stylus" scoped>
.aside-left
  width 16rem

.aside-right
  width 16rem

>>> .menu
  max-height 20rem
  overflow-y scroll
</style>