<template>
  <div>
    <input v-model.number="fatigue" type="number" step="10" /> Fatigue,
    <input v-model.number="stress" type="number" step="10" /> Stress
    <pre class="language-text"><code>LI = <TweenedInteger :value="fatigue" /> + <TweenedInteger :value="stress" /> * 2 = <TweenedInteger :value="li" /></code></pre>
  </div>
</template>

<script>
import TweenedInteger from "./TweenedInteger.vue";

export default {
  components: {
    TweenedInteger,
  },
  data() {
    return {
      fatigue: 10,
      stress: 10,
    };
  },
  computed: {
    li() {
      return this.fatigue + this.stress * 2;
    },
  },
};
</script>

<style scoped lang="stylus">
input {
  width: 5%;
}
</style>