<template>
  <span>{{ tweenedInteger }}</span>
</template>

<script>
import { TweenLite } from "gsap";

export default {
  name: "TweenedInteger",
  props: {
    value: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      tweenedValue: 0,
    };
  },
  computed: {
    tweenedInteger() {
      return Math.round(this.tweenedValue);
    },
  },
  watch: {
    value(newValue) {
      TweenLite.to(this.$data, 0.5, {
        tweenedValue: newValue,
      });
    },
  },
  mounted() {
    TweenLite.to(this.$data, 0.5, {
      tweenedValue: this.value,
    });
  },
};
</script>

<style scoped lang="stylus"></style>