<template>
  <i-row reverse-xs class="_padding-x-5 _margin-top-1">
    <i-column v-for="i in 4" :key="i" xs="12" xl="3" class="_margin-0 _padding-0">
      <div class="_display-flex _flex-direction-column">
        <div
          v-for="tech in techsInRange(i)"
          :key="tech.name"
          :class="[tech.stat]"
          class="_border _border-color-dark cell"
        >{{tech.name}}</div>
      </div>
    </i-column>
  </i-row>
</template>

<script>
export default {
  name: 'TechTableMainView',
  props: {
    breed: String
  },
  computed: {
    techs() {
      return require(`@/components/tech-tables/data/${this.breed}.json`)
    }
  },
  methods: {
    techsInRange(i) {
      return this.techs.filter(tech => tech.range === i)
    }
  }
}
</script>

<style lang="stylus" scoped>
.cell
  padding 2px 5px

.cell:nth-child(even)
  border-bottom 0 !important
  border-top 0 !important

.cell:last-child
  border-bottom 1px solid black !important

.pow
  background-color #ffe066

.int
  background-color #5fb072

.tech-column:nth-child(even)
  border-right 1px solid blue !important
  border-left 0 !important
</style>