<template>
  <router-link
    :to="to"
    class="block mt-4 mr-6 hover:text-indigo-500 sm:inline-block sm:mt-0"
  >
    <slot />
  </router-link>
</template>

<script>
export default {
  name: 'navbarLink',
  props: {
    to: {
      type: String,
      default: 'home'
    }
  }
}
</script>
