<template functional>
  <svg
    class="w-8 h-8 mr-2 bg-gray-800 rounded"
    width="54"
    height="54"
    viewBox="0 0 54 54"
  >
    <text class="svg-text" x="14" y="44">J</text>
  </svg>
</template>

<style lang="stylus" scoped>
.svg-text
  font 3rem sans-serif
  fill white
</style>
