<template>
  <nav
    class="sticky top-0 z-50 flex flex-wrap items-center justify-between w-full p-6 border border-b bg-white-transparent sm:bg-white"
  >
    <div class="flex items-center mr-6 flex-no-shrink">
      <div class="flex cursor-pointer" @click="$router.push({ name: 'home' })">
        <TheNavbarLogo />
        <span class="text-xl font-semibold tracking-tight">jwcooper.net</span>
      </div>

      <div class="hidden ml-16 sm:flex">
        <NavbarLink v-for="link in navbarLinks" :key="link.label" :to="link.to">{{ link.label }}</NavbarLink>
        <a href="/mr2/guide" class="hover:text-indigo-500">MR2 Wiki</a>
      </div>
    </div>

    <div class="block sm:hidden">
      <button
        @click="toggle"
        class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light"
      >
        <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20">
          <title>Menu</title>
          <path :d="collapseButtonPath" />
        </svg>
      </button>
    </div>

    <transition name="grow">
      <div v-if="open" class="flex-grow w-full sm:w-auto sm:flex sm:items-center sm:hidden">
        <div class="text-sm sm:flex-grow">
          <NavbarLink v-for="link in navbarLinks" :key="link.label" :to="link.to">{{ link.label }}</NavbarLink>
          <a href="/mr2/guide" class="block mt-4 hover:text-indigo-500">MR2 Wiki</a>
        </div>
      </div>
    </transition>
  </nav>
</template>

<script>
import NavbarLink from './NavbarLink'
import TheNavbarLogo from './TheNavbarLogo'

export default {
  name: 'theNavbar',
  components: {
    NavbarLink,
    TheNavbarLogo
  },
  data() {
    return {
      open: false
    }
  },
  created() {
    this.collapseButtonPath = 'M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z'

    this.navbarLinks = [
      {
        to: { name: 'countdownTimer' },
        label: 'Countdown Timer'
      },
      {
        to: { name: 'combinationCalculator' },
        label: 'Combination Calculator'
      },
      {
        to: { name: 'techTables' },
        label: 'Tech Tables'
      }
    ]
  },
  methods: {
    toggle() {
      this.open = !this.open
    }
  }
}
</script>

<style lang="stylus" scoped>
.bg-white-transparent
  background-color #ffffffaa

.grow-enter-active
  animation grow 0.5s

.grow-leave-active
  animation grow 0.5s reverse

@keyframes grow
  0%
    transform scale(0)

  50%
    transform scale(1.025)

  100%
    transform scale(1)

  from
    height 0

  to
    height 149px
</style>
