<template>
  <div class="flex flex-col items-center justify-center">
    <h1 class="mb-8 text-4xl">
      <slot name="title" />
    </h1>

    <input v-model="email" @input="$emit('reset-error')" placeholder="Email" :class="inputClasses" />
    <input
      v-model="password"
      @input="$emit('reset-error')"
      @keyup.enter="submit(email, password)"
      type="password"
      placeholder="Password"
      :class="inputClasses"
    />

    <button
      @click="debouncedSubmit"
      variant="primary"
      class="px-4 py-2 mt-4 text-white bg-indigo-600 rounded opacity-50 cursor-not-allowed"
    >{{ buttonText }}</button>

    <p class="mt-4">
      <slot name="footer" />
    </p>

    <p class="mt-4">
      <slot name="error" />
    </p>
  </div>
</template>

<script>
import debounce from 'lodash/debounce'

export default {
  name: 'EmailPasswordForm',
  props: {
    buttonText: String,
    submit: Function
  },
  data() {
    return {
      email: '',
      password: ''
    }
  },
  created() {
    this.inputClasses =
      'px-3 py-1 mb-2 border border-gray-300 rounded sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4 hover:border-gray-500 focus:border-indigo-500 border-transition shadow-md'
  },
  methods: {
    debouncedSubmit: debounce(
      function() {
        const { email, password, submit } = this
        submit(email, password)
      },
      1000,
      { leading: true }
    )
  }
}
</script>

<style lang="stylus" scoped>
.border-transition
  transition border-color 0.5s
</style>
