<template>
  <div class="flex flex-col h-screen">
    <Navbar />
    <transition name="router-fade" mode="out-in">
      <router-view class="flex-grow" />
    </transition>
  </div>
</template>

<script>
import Navbar from '@/components/common/navbar/TheNavbar'

export default {
  components: {
    Navbar
  }
}
</script>
<style lang="stylus" scoped>
.router-fade-enter-active, .router-fade-leave-active
  transition opacity 0.3s ease

.router-fade-enter, .router-fade-leave-to
  opacity 0
</style>
