<template>
  <div class="countdown-timer-digit">
    <svg :width="110 * widthMult" :height="200 * widthMult">
      <g>
        <polygon v-for="i in 7" :key="i" :points="segmentsToPoints(i - 1)" :fill="fillColor" />
      </g>
    </svg>
  </div>
</template>

<script>
import { TweenLite } from 'gsap'

export default {
  name: 'CountdownTimerDigit',
  props: {
    fillColor: {
      type: String
    },
    initialSegments: {
      type: String
    },
    windowWidth: {
      type: Number
    }
  },
  data() {
    return {
      tweenedSegments: this.initialSegments,
      tweenedFillColor: this.fillColor
    }
  },
  computed: {
    segments() {
      return this.initialSegments
        .split('|')
        .map(this.rescale)
        .join('|')
    },
    widthMult() {
      return this.windowWidth / 1920
    }
  },
  methods: {
    rescale(points) {
      return points
        .split(' ')
        .map(xy =>
          xy
            .split(',')
            .map(coord =>
              Math.floor(parseInt(coord) * this.widthMult).toString()
            )
            .join(',')
        )
        .join(' ')
    },
    segmentsToPoints(i) {
      return this.tweenedSegments.split('|')[i]
    }
  },
  watch: {
    segments(newSegments) {
      TweenLite.to(this.$data, 0.8, { tweenedSegments: newSegments })
    },
    fillColor(newFillColor) {
      TweenLite.to(this.$data, 1, { tweenedFillColor: newFillColor })
    }
  }
}
</script>

<style scoped lang="stylus">
h3
  margin: 40px 0 0
ul
  list-style-type: none
  padding: 0
li
  display: inline-block
  margin: 0 10px
a
  color: #42b983
</style>
