<template>
  <div>
    <i-row center-xs class="_margin-top-5">
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[0]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[1]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
      <i-column xs="1">
        <Divider :fillColor="fillColor" :windowWidth="windowWidth" />
      </i-column>
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[2]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[3]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
      <i-column xs="1">
        <Divider :fillColor="fillColor" :windowWidth="windowWidth" />
      </i-column>
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[4]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
      <i-column xs="1">
        <CountdownTimerDigit
          :initialSegments="segments[5]"
          :fillColor="fillColor"
          :windowWidth="windowWidth"
        />
      </i-column>
    </i-row>
  </div>
</template>

<script>
import CountdownTimerDigit from './CountdownTimerDigit'
import Divider from './Divider'

import { mapToDigit } from '@/data/countdown-timer/data.js'

let interval = null

export default {
  name: 'CountdownTimer',
  components: {
    CountdownTimerDigit,
    Divider
  },
  props: {
    deadline: {
      type: Number,
      required: true
    }
  },
  data() {
    const initialSegments = new Array(6).fill(mapToDigit(0))
    const lastTime = new Array(6).fill(-1)

    return {
      diff: -1,
      lastTime,
      loaded: false,
      now: Math.trunc(new Date().getTime() / 1000),
      randomMode: true,
      segments: initialSegments,
      windowWidth: 0,
      windowHeight: 0
    }
  },
  computed: {
    hours() {
      return Math.trunc(this.diff / 60 / 60) % 24
    },
    minutes() {
      return Math.trunc(this.diff / 60) % 60
    },
    seconds() {
      return Math.trunc(this.diff) % 60
    },
    fillColor() {
      return '#' + this.lastTime.join('')
    }
  },
  watch: {
    now() {
      this.diff = this.deadline - this.now
      if (this.diff < 0) {
        this.diff = 0
        clearInterval(interval)
      }
    }
  },
  methods: {
    zeroPad(num) {
      num = num.toString()
      if (num.length <= 1) {
        return '0' + num
      }
      return num
    },
    getWindowWidth() {
      this.windowWidth = document.documentElement.clientWidth
    },
    getWindowHeight() {
      this.windowHeight = document.documentElement.clientHeight
    }
  },
  created() {
    setTimeout(() => (this.loaded = true), 2000)

    interval = setInterval(() => {
      this.now = Math.trunc(new Date().getTime() / 1000)

      const times = [
        Math.floor(this.hours / 10),
        this.hours % 10,
        Math.floor(this.minutes / 10),
        this.minutes % 10,
        Math.floor(this.seconds / 10),
        this.seconds % 10
      ]

      for (let i = 0; i < 6; i++) {
        if (times[i] !== this.lastTime[i]) {
          this.segments[i] = mapToDigit(times[i], this.randomMode)
        }
      }
      this.lastTime = times
    }, 1000)
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowWidth)
      window.addEventListener('resize', this.getWindowHeight)

      this.getWindowWidth()
      this.getWindowHeight()
    })
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.getWindowWidth)
    window.removeEventListener('resize', this.getWindowHeight)
  },
  destroyed() {
    clearInterval(interval)
  }
}
</script>

<style scoped lang="stylus">
label
  color #373737

.lds-ripple
  display inline-block
  position relative
  width 128px
  height 128px

.lds-ripple div
  position absolute
  border 4px solid #2c3e50
  opacity 1
  border-radius 50%
  animation lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite

.lds-ripple div:nth-child(2)
  animation-delay -0.5s

@keyframes lds-ripple
  0%
    top 64px
    left 64px
    width 0
    height 0
    opacity 1

  100%
    top 0
    left 0
    width 128px
    height 128px
    opacity 0
</style>