<template>
  <svg :width="110 * widthMult" :height="200 * widthMult">
    <g>
      <polygon :points="diamondTop" :fill="fillColor" />
      <polygon :points="diamondBottom" :fill="fillColor" />
    </g>
  </svg>
</template>

<script>
export default {
  name: 'Divider',
  props: {
    fillColor: String,
    windowWidth: Number
  },
  computed: {
    diamondBottom() {
      return this.rescale('45,120 55,110 65,120 55,130')
    },
    diamondTop() {
      return this.rescale('45,80 55,70 65,80 55,90')
    },
    widthMult() {
      return this.windowWidth / 1920
    }
  },
  methods: {
    rescale(points) {
      return points
        .split(' ')
        .map(xy =>
          xy
            .split(',')
            .map(coord =>
              Math.floor(parseInt(coord) * this.widthMult).toString()
            )
            .join(',')
        )
        .join(' ')
    }
  }
}
</script>

<style scoped>
</style>