<template>
  <i-column xs="12" sm="4" md="3" xl="2">
    <i-form-group>
      <i-form-label>{{units}}</i-form-label>
      <i-input-number
        v-model="localValue"
        :min="0"
        :max="max"
        :placeholder="units[0].toUpperCase()"
      />
    </i-form-group>
  </i-column>
</template>

<script>
export default {
  name: 'TimeInput',
  props: {
    max: {
      type: Number,
      default: Infinity
    },
    units: String,
    value: [String, Number]
  },
  computed: {
    localValue: {
      get() {
        return this.value
      },
      set(localValue) {
        this.$emit('input', localValue)
      }
    }
  }
}
</script>